{% extends 'blog/base.html' %}

{% block content %}

    <section id="my_container">

        <div id="form">

                <h2>Créer une critique</h2>

                <fieldset>
                    <legend>Poster en réponse à:</legend>

                    <div id="date_time">
                        {{ tick_time_created }}
                    </div>

                    <p id="asking">
                        {{ tick_user }} a demandé une critique
                    </p>

                    <p id="book_title">
                        {{ tick_title }}
                    </p>

                    <br />

                    <p>
                        {{ tick_description }}
                    </p>

                    <br />

                    <img src="{{ tick_image_url }}" id="book_img"/>
                </fieldset>

                <br />

            <form method="post" enctype="multipart/form-data" action="{% url 'review_answer' tick_id %}">

                {% csrf_token %}
                {{ form_add.non_field_errors }}
                {{ form_add.headline.errors }}
                {{ form_add.body.errors }}

                <fieldset>
                    <legend>Critique</legend>

                    <label for="review_title">Titre:</label>
                    <input type="text" name="{{ form_add.headline.html_name }}" id="review_title" size="75"
                           maxlength="{{ form_add.headline.field.max_length }}" value="{{ rev_headline }}" required autofocus/>

                    <br />
                    <br />
                    Note:
                   <p>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="0" id="radio0" /> <label for="radio0"> - 0</label>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="1" id="radio1" /> <label for="radio1"> - 1</label>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="2" id="radio2" /> <label for="radio2"> - 2</label>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="3" id="radio3" checked/> <label for="radio3"> - 3</label>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="4" id="radio4" /> <label for="radio4"> - 4</label>
                       <input type="radio" name="{{ form_add.rating.html_name }}" value="5" id="radio5" /> <label for="radio5"> - 5</label>
                   </p>

                    <label for="review_comment">Commentaire:</label>
                    <textarea name="{{ form_add.body.html_name }}" id="review_comment" rows="10" cols="75"
                    maxlength="{{ form_add.body.field.max_length }}"></textarea>

                    </br>
                    </br>
                    </br>
                    <button id="send_button" type="submit"> Envoyer </button>
                </fieldset>


                </br>
                </br>
            </form>
        </div>

    </section>

{% endblock %}